/* reeeeeepepepepeppepepepe */
@import 'partials/variables';

@import 'partials/pages/resources-page';

body {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    a {
        color: $cyan;
    }
    p {
        font-size: 1.1em;
    }
    h1 {

        font-size: 3em;
    }
    h3 {
        font-size: 1.5em;
    }
    .nav {
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        @media screen and (max-width: 953px) {
            justify-content: space-between;
        }
        .nav-menu {
            @media screen and (max-width: 953px) {
                display: block;
                display: none;
                width: 100%;
            }
            ul {
                @media screen and (max-width: 953px) {
                    display: block;
                    margin-top: 10px;
                    padding: 0px;
                }
            }
        }
        .mobile-menu {
            display: none;
            padding: 7px;
            background-color: $blue;
            color: white;
            margin-right: 10px;
            border-radius: 3px;
            @media screen and (max-width: 953px) {
                display: block;
            }
        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0px 20px;
            &.hs-menu-children-wrapper {
                position: absolute;
                display: block;
                visibility: hidden;
                padding: 0px;
                li {
                    background-color: $blue;
                    @include transition(100ms);
                    &:hover {
                        background-color: $blue-hover;
                    }
                    a {
                        color: white;
                        &:hover {
                            color: white;
                        }
                        
                    }
                }
            }
            li {
            padding: 10px;
                // child li's of menu
                a {
                    text-decoration: none;
                    color: $blue;
                }
            }
        }
    }
    .blue {
        background-color: $blue;
        color: white;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        @for $i from 1 through 12 {
            .span#{$i} { 
                grid-column: span $i;
                img {
                    width: 100%;
                }
            }
        }
        // & div[class*="span"] {
        //     @media screen and (max-width: $tablet) {
        //         grid-column: span 12;
        //     }
        // }
        &.partner-grid {
            margin: 20px auto;
            border: 1px solid $light-grey;
            .span3 {
                padding: 10px;
                border: 1px solid $light-grey;
                display: flex;
                justify-content: center;
                &.row-title {
                    justify-content: flex-end;
                }
            }
        }
        &.skinny {
            max-width: 690px;
            margin: 0 auto;
        }
        &.wide {
            max-width: 960px;
            margin: 0 auto;
        }
        &.wider {
            max-width: 1080px;
            margin: 0 auto;
        }
        @media screen and (max-width: 690px) {
            padding: 0px 10px;
        }
        .header {
            padding: 20px 0px;
        }
        .main {
            h2 {
                font-size: 2em;
                font-weight: 300;
                &.red {
                    color: $red;
                }
            }
        }
    }

    .border-box {
        background-color: $white-opaque;
        color: $black;
        border: $grey solid 1px;
        border-radius: 3px; 
        margin-bottom: 24px;
        &--top-purple {
            border-top: 5px solid $purple;
        }   
        &--top-red {
            border-top: 5px solid $red;
        }
        &--top-blue {
            border-top: 5px solid $blue;
        }
        &--top-grey {
            border-top: 5px solid $grey;
        }
    }
    
    .flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .padding {
        padding: 20px;
        @media screen and (max-width: 767px) {
            padding: 10px;
        }
    }
    &.rapid-referral {
        .border-box {
            h2 {
                font-size: 1.5em;
            }
        }
    }
}

.cta {
    padding: 10px 40px;
    border-radius: 40px;
    text-decoration: none;
    &--red {
        background-color: $red;
        color: $white!important;
        &:hover {
            @include transition(.2s);
            background-color: $red-hover;
        }
    }
    &--purple {
        background-color: $purple;
        color: $white!important;
    }
    &--grey {
        background-color: $cyan-hover;
        color:$white!important;
    }
    &--cyan {
        background-color: $cyan;
        color:$white!important;
        &:hover {
            @include transition(.2s);
            background-color: $cyan-hover;
        }
    }

}

.browser {
    -webkit-box-shadow: 0 0px 10px rgba(98, 100, 112, 0.2);
    -moz-box-shadow: 0 0px 10px rgba(98, 100, 112, 0.2);
    box-shadow: 0 0px 10px rgba(98, 100, 112, 0.2);
    border: 1px solid #d5dadf;
    border-radius: 3px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    min-height: 150px;
    background: #fff
}

.browser .top-bar {
    background: #fff;
    border-bottom: 1px solid #d5dadf;
    height: 24px;
    border-radius: 4px 4px 0 0
}

.browser .top-bar .lights {
    list-style: none;
    position: absolute;
    padding: 0;
    left: 10px;
    top: -2px;
    ul {
        padding: 0px;
        margin: 12px 0px 0px 0px;
    }
}

@media(max-width: 74.9em) {
    .browser .frame img {
        max-width:100%;
        width: 100%;
        height: auto
    }
}

@media(min-width: 48em) {
    .browser .top-bar {
        height:43px
    }

    .browser .top-bar .lights {
        left: 18px;
        top: 0
    }
}

.browser .top-bar .lights li {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    display: inline-block;
    margin-right: 6px;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    border: 1px solid #da4b47
}

.browser .top-bar .lights li:nth-child(1) {
    background: #f66560
}

.browser .top-bar .lights li:nth-child(2) {
    background: #f9c964;
    border-color: #dcac47
}

.browser .top-bar .lights li:nth-child(3) {
    background: #30c75d;
    border-color: #1fa748
}

@media(min-width: 48em) {
    .browser .top-bar .lights li {
        margin-right:8px;
        height: 10px;
        width: 10px
    }
}

footer {
    background-color: $dark-grey;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 48px;
}

