.cta {
    padding: 10px 40px;
    border-radius: 40px;
    text-decoration: none;
    &--red {
        background-color: $red;
        color: $white!important;
    }
    &--purple {
        background-color: $purple;
        color: $white!important;
    }
    &--grey {
        background-color: $cyan-hover;
        color:$white!important;
    }

}