body {
    font-family: Avenir, 'Avenir W01', sans-serif;
    color: $black;
    margin: 0;
}

.body-container-wrapper {
    ul {
        list-style: none;
        li {
            margin: 20px auto;
            margin-left: 40px;
            font-size: 20px;
        }
        li::before {
            font-size: 24px;
            content: "•"; 
            color: $cyan;
            width: 2em;
            margin-left: -2em;
            margin-right: 34px;
        }
    }
}

p a  {
    color: $cyan;
}

.no-margin {
    margin: 0;
}

.mobile-padding {
    @media screen and (max-width: $tablet) {
        padding: 20px;
    }
}

.mobile-center {
    @media screen and (max-width: $tablet) {
        text-align: center!important;
        margin: 0 auto;
    }
}