body {
    font-family: Avenir, 'Avenir W01', sans-serif;
    color: $black;
    margin: 0;
}

.body-container-wrapper {
}

p a  {
    color: $cyan;
}

.no-margin {
    margin: 0;
}

.mobile-padding {
    @media screen and (max-width: $tablet) {
        padding: 10px;
    }
}

.mobile-center {
    @media screen and (max-width: $tablet) {
        text-align: center!important;
        margin: 0 auto;
    }
}

