//VARIABLES

    //fonts

    $font-stack: Avenir, 'Avenir W01', sans-serif;

    //colors

    $blue: rgba(8, 55, 74, 1);
    $blue-hover: rgba(19, 104, 129, 1);
    $red: rgba(183, 62, 67, 1);
    $red-hover: rgba(179, 102, 105, 1);
    $body: rgba(51, 51, 51, 1);
    $white: rgba(255,255,255, 1);
    $white-opaque: rgba(255,255,255, 8);
    $cyan: rgba(31, 189, 229, 1);
    $cyan-hover: rgba(118, 206, 228, 1);
    $purple: rgba(142, 43, 124, 1);
    $purple-lighter: rgba(170, 85, 155, 1);
    $grey: rgba(216, 216, 216, 1);
    $link-grey: rgba(153, 153, 153, 1);
    $light-grey: rgba(232, 232, 232, 1);
    $black: rgba(51, 51, 51, 1);
    $dark-grey: rgba(84, 84, 84, 1);
    $green: rgba(51, 204, 102, 1);
    $trans-blue: rgba(9,81,110,.60);
    $cyan-trans: rgba(31, 189, 229, 0.2);

    $transparent-black: rgba(0,0,0,.70);

    //breakpoints
    $mobile: 425px;
    $tablet: 768px;
    $laptop-s: 1024px;
    $laptop-l: 1440px;
    $desktop: 2560px;

//mixins

@mixin teneighty {
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}

@mixin teneighty-margin($margin) {
    max-width: 1080px;
    margin: $margin auto !important;
    float: none !important;
}

@mixin vertical-align($position: relative) {
position: $position;
top: 30%;
transform: translateY(-30%);
}

@mixin ninesixty-margin($margin) {
    max-width: 960px;
    margin: $margin auto !important;
    float: none !important;
}

@mixin sixninety-margin($margin) {
    max-width: 690px;
    margin: $margin auto !important;
    float: none !important;
}

@mixin transition($time) {
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
}

@mixin scale($seconds) {
    -webkit-transition: all $seconds ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all $seconds ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all $seconds ease-in;
    -moz-transform: scale(1);
    transition: all $seconds ease-in;
    transform: scale(1); 
}

@mixin zoomSet($milliseconds) {
    transition: all $milliseconds ease-in;
    -webkit-transition: all $milliseconds ease-in;
    -ms-transition: all $milliseconds ease-in;
    -moz-transition: all $milliseconds ease-in;

}

@mixin zoomHover($milliseconds) {
    z-index: 2;
    -webkit-transition: all $milliseconds ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all $milliseconds ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all $milliseconds ease-in;
    -moz-transform: scale(1.05);
    transition: all $milliseconds ease-in;
    transform: scale(1.05);
}

@mixin zoom($milliseconds) {
    transition: $milliseconds;
    -webkit-transition: all $milliseconds ease-in;
    -ms-transition: all $milliseconds ease-in;
    -moz-transition: all $milliseconds ease-in;
    &:hover {
        z-index: 2;
        -webkit-transition: all $milliseconds ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all $milliseconds ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all $milliseconds ease-in;
        -moz-transform: scale(1.05);
        transition: all $milliseconds ease-in;
        transform: scale(1.05);
    }
}

@mixin transition($seconds) {
    transition: $seconds;
    -webkit-transition: all $seconds ease-in;
    -ms-transition: all $seconds ease-in;
    -moz-transition: all $seconds ease-in;
}

@mixin zoom-subtle($milliseconds) {
    transition: $milliseconds;
    -webkit-transition: all $milliseconds ease-in;
    -ms-transition: all $milliseconds ease-in;
    -moz-transition: all $milliseconds ease-in;
    &:hover {
        z-index: 2;
        -webkit-transition: all $milliseconds ease-in;
        -webkit-transform: scale(1.01);
        -ms-transition: all $milliseconds ease-in;
        -ms-transform: scale(1.01);
        -moz-transition: all $milliseconds ease-in;
        -moz-transform: scale(1.01);
        transition: all $milliseconds ease-in;
        transform: scale(1.01);
    }
}