//ebook-flat
.ebook-flat {
    h1 {
        font-size:48px;
    }
    .grey {
        background-color: $grey;
        .offer-image {
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .logo {
            text-align: center;
            margin: 30px auto !important;
            float: none;
            @media screen and (max-width: $tablet) {
                margin: 10px auto!important;
            }
        }
    }
    .container {
        @include ninesixty-margin(60px);
        @media screen and (max-width: $tablet) {
            @include ninesixty-margin(0px)
        }
        h1, h2, h3 {
            margin: 0px;
            font-weight: 800;
            @media screen and (max-width: $tablet) {
                margin: 20px auto;
            }
        }
        h3 {
            color: $cyan;

        }
        ul {
            list-style: none;
            li {
                font-size: 18px;
                line-height: 36px;
            }
            li::before {
                font-size: 18px;
                content: "•"; 
                color: $cyan;
                width: 2em;
                margin-left: -2em;
                margin-right: 1em;
            }
        }
        .cta {
            text-align: center;
            margin: 50px auto;
            .ebookcta {
                background-color: #1FBDE5;
                text-decoration: none;
                color: #ffffff;
                padding: 20px 60px;
                border-radius: 3px;
                transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                }
                .ebookcta:hover {
                background-color: #76CEE4;
                cursor: pointer;
                }
        }
    }
    .ebook-flat-form {
        @include sixninety-margin(40px);
        .styledform {
            padding: 0px 20px;
            h3 {
                margin: 0px; 
                padding: 0px;
            }
            select {
                width: 100%;
                height: 48px;
                border: 1px solid #d8d8d8;
                font: {
                    size: 18px;
                }
                margin: 20px auto;
            }
            ul {
                list-style: none;
                li {
                    font-size: 18px;
                }
                li::before {
                    font-size: 18px;
                    content: "•"; 
                    color: $cyan;
                    width: 2em;
                    margin-left: -2em;
                    margin-right: 1em;
                }
                input {
                    width: auto;
                }
            }
            fieldset {
                margin: 10px auto;

            }
            input {
                padding-left: 10px;
                margin: 10px auto;
                width: 97%;
                border: 1px solid #d8d8d8;
                border-radius: 3px;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                &[type="submit"]{
                    color: $white;
                    background-color: $cyan;
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                    @include transition(.5s);
                    &:hover {
                        background-color: $cyan-hover;
                        text-shadow:0px 0px 10px rgba(0, 0, 0, 0.20);

                    }
                }
            }
            .hs-form-field {
                margin: 30px auto;
            }
            label {
                margin: 10px auto;
            }
            .hs_submit {
                max-width: 500px;
                margin: 0 auto;
                
            }
        }
    }
}