.services-a {
    img#chart {
        @include zoom(200ms);
    }
    .header {
        background-image: url(https://www.accelerance.com/hubfs/ACC2017/services/glyphwhite.svg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 120% center;
    }
    p {
        line-height: 1.7;
    }
    h2 {
        font-size: 36px;
    }
    .container {
        grid-column-gap: 40px;
    }
    ul {
        li {
            line-height: 2;
        }
        &.big {
            font-size: 20px;
            li {
                line-height: 1;
                margin: 10px auto;
            }
        }
    }
    .cyan-light {
        padding-bottom: 64px;
    }
}
