.showcase-page {
    .showcase-intro {
        padding: 20px;
    }

    .intro-header {
        background-image: linear-gradient(rgba(8, 55, 74, 0.6), rgba(8, 55, 74, 0.6)), url(https://www.accelerance.com/hubfs/Landing_Page_Images/15%20risk%20indicators/bg.jpg);
        background-size: cover;
        height: 170px;
        background-position: center bottom;
        margin-bottom: -75px;
    }

    .flex .row-fluid-wrapper .row-fluid {
        z-index: 10;
        align-items: flex-end;
    }

    .partner-logo {
        border: 1px solid $light-grey;
        border-radius: 3px;
        min-height: 150px;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0px 10px;
    }

    .developer-breakdown {
        h3 {
            padding-top: 36px;
            padding-left: 20px;
            margin: 0px;
        }
    }
        
}
