.thank-you {
    .header {
        background-image: url(https://www.accelerance.com/hubfs/password-page/bg.svg);
        background-size: 100% auto;
        background-color: $blue;
        color: $white;
        padding: 64px 0px;
    }    
}