#accordion {
    h3 {
        border-bottom:1px solid #ccc;
        cursor:pointer;
        padding:10px 0px 10px 0px;
        font-size: 30px;
        i {
            font-size: 24px;
            float:right;
        }
    }
}