.launcher {
    margin: 40px auto;
    padding: 20px;
    input[type="text"] {
        float:left;
        border-radius: 40px 0px 0px 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        font-family: $font-stack;
        font-size: 18px;
        padding: 10px 20px;
        outline: none;
    }
    input[type="button"] {
        border: none;
        height: 45px;
        width: 150px;
        border-radius: 0px 40px 40px 0px;
        background-color: $red;
        color: white;
        font-size: 16px;
        font-family: $font-stack;
        outline: none;
        cursor: pointer;
        @include transition(200ms);
        &:hover {
            @include transition(200ms);
            background-color: $red-hover;
        }
    }
}