// logo

.logo {
    padding: 10px 20px;
    float: left;
    max-width: 304px;
    width: 100%;
}

.logo-nav {
    background: $white;
    color: $blue;
    padding: 15px 0px 0px 0px;
    .hs-menu-children-wrapper {
        border-radius: 0px 0px 3px 3px;
    }
}

.top-cta {
    margin: 8px 20px;
    float: right;
    padding: 5px 20px;
    border: 3px solid $blue;
    color: $blue;
    font-weight: 600;
    text-decoration: none;
    @include transition(500ms);
    &:hover {
        border-radius: 40px;
        background-color: $blue;
        color: $white;
        @include transition(500ms);

    }

}