.article {
    height: 580px;
    margin: 10px auto;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    background-color: white;
    &:hover {
      box-shadow: 0px 0px 10px $transparent-black;
    }
    &-header {
    height: 200px;
    background-position: top;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
    }
    &-content {
      padding: 20px; 
    }
    @media screen and (max-width: $laptop-s) {
      height: auto;
    }
  }
  
  