//VARIABLES

    //colors

    $blue: #08374a;
    $red: #b73e43;
    $body: #333333;
    $white: #ffffff;
    $cyan: #1FBDE5;
    $purple: #8E2B7C;
    $grey: #d8d8d8;
    $black: #333333;
    $dark-grey: #545454;

    $transparent-black: rgba(0,0,0,.70);

//mixins

@mixin teneighty {
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}


.body {
    margin: 0 auto !important;
    float:none !important;
    max-width: 1080px !important;
    .cta {
        color: $white;
        background-color: $blue;
        border-radius: 3px;
        padding: 10px 40px;

    }
}