//VARIABLES

    //colors

    $blue: #08374a;
    $blue-hover: #136881;
    $red: #b73e43;
    $body: #333333;
    $white: #ffffff;
    $cyan: #1FBDE5;
    $cyan-hover: #76CEE4;
    $purple: #8E2B7C;
    $purple-lighter: #AA559B;
    $grey: #d8d8d8;
    $black: #333333;
    $dark-grey: #545454;
    $green: #33CC66;
    $trans-blue: rgba(9,81,110,.60);

    $transparent-black: rgba(0,0,0,.70);

    //breakpoints
    $mobile: 425px;
    $tablet: 768px;
    $laptop-s: 1024px;
    $laptop-l: 1440px;
    $desktop: 2560px;

//mixins

@mixin teneighty {
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}

@mixin teneighty-margin($margin) {
    max-width: 1080px;
    margin: $margin auto !important;
    float: none !important;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 30%;
  transform: translateY(-30%);
}

@mixin ninesixty-margin($margin) {
    max-width: 960px;
    margin: $margin auto !important;
    float: none !important;
}

@mixin sixninety-margin($margin) {
    max-width: 690px;
    margin: $margin auto !important;
    float: none !important;
}

@mixin transition($seconds) {
    transition: $seconds;
    -webkit-transition: $seconds;
    -moz-transition: $seconds;
}

@mixin scale($seconds) {
     -webkit-transition: all $seconds ease-in;
                -webkit-transform: scale(1); 
                -ms-transition: all $seconds ease-in;
                -ms-transform: scale(1); 
                -moz-transition: all $seconds ease-in;
                -moz-transform: scale(1);
                transition: all $seconds ease-in;
                transform: scale(1); 
}