@import 'partials/variables';


.body {
    margin: 0 auto !important;
    float:none !important;
    max-width: 1080px !important;
    .cta {
        color: $white;
        background-color: $blue;
        border-radius: 3px;
        padding: 10px 40px;

    }
}