//imports
@import "partials/variables";

//header
.header-container-wrapper {
    text-align: center;
        color: $white;
        border-bottom: 4px solid $blue;
        background: {
            image: url(http://www.accelerance.com/hubfs/ACC2017/bg4-compressor.jpg);
            attachment: fixed;
            repeat: no-repeat;
            size: cover;
            position: center center;
        }
}

//body


