//imports
@import "partials/variables";

//header
.header-container-wrapper {
    text-align: center;
        color: $white;
        border-bottom: 4px solid $blue;
        background: {
            image: url(http://www.accelerance.com/hubfs/ACC2017/bg2-compressor.jpg);
            attachment: fixed;
            repeat: no-repeat;
            size: cover;
            position: center bottom;
        }
}

//body

.container {
    img {
        margin: 1.33em auto;
    }
}

.sectionthree {
    background: {
        color: $grey;
    }
    .container {
        @include teneighty-margin(20px);
    }
}